.navbar-nav .nav-link {
    color: #000000; /* Black font color */
}


.navbar-dark .navbar-nav .nav-link {
    color: #000000; /* Black font color for active link */
}

.navbar-nav .nav-link.nav-link-grey {
    color: #808080; /* Light grey font color for specific links */
}
